<div class="logo text-center">
    <a href="/" class="simple-text logo-normal">
        TF Invoice
    </a>

</div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li  routerLinkActive="active">
          <a routerLink="/dash">
            <i class="fa fa-archive"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/create-invoice">
            <i class="fa fa-chain-broken"></i>
            <p>Create invoice</p>
          </a>
        </li>
       <!-- <li  routerLinkActive="active">
          <a href="#">
            <i class="fa fa-bandcamp"></i>
            <p>Sent invoice</p>
          </a>
        </li>-->
        <li  routerLinkActive="active">
          <a routerLink="/user-posts">
            <i class="fa fa-database"></i>
            <p>User posts</p>
          </a>
        </li>
      </ul>
    </div>